* {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}

.conteiner {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;

}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat;

}

.logo, .logo_grup {
    display: inline-block;
}

.img_logo {
    width: 33.8px;
    height: 31.94px;
    padding-right: 10px;

}

.img_logo2 {
    width: 154.23px;
    height: 29.09px;

}

.flex_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: inline-block;
    text-align: center;
}

a.nav_item {
    display: inline-block;
    padding: 26px 10px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2F281E;
}

.btns {
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

button.btn_sign_in {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 13px 22.5px;
    border: solid 1px;
    border-radius: 4px;
    border-color: #BCD0E5;
    margin: 0 10px;
    color: #2F281E;
    background-color: #ffffff;
}

button.btn_sign_up {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 13px 22.5px;
    border: solid 1px;
    border-radius: 4px;
    margin: 0 10px;
    color: #ffffff;
    background-color: #FF9900;
}

.first_scereen {
    padding-top: 70px 0;

}

.lefl_sade {
    box-sizing: border-box;
    width: 500px;
    height: 301px;
}

h1 {

    margin-bottom: 30px;

    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}

p {

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 33px;
}

button.btn_get {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 13px 43px;
    border: solid 1px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #FF9900;
}

.side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 99px;
}

/* features */

.features_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
    padding-top: 19.73px;
    padding-bottom: 74.01px;
}

.features h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 30.77px;
}



.features h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2F281E;
    margin-bottom: 16px;
    
}

.click_color {
    display: inline-block;
    background-color: #7752BE;
    border-radius: 15px;
    width: 50px;
    height: 50px;

}

.click_color img {
    padding: 16px 18px 16px 20px;
    margin-bottom: 30px;
}


.click_color2 {
    display: inline-block;
    background-color: #FAB005;
    border-radius: 15px;
    width: 50px;
    height: 50px;
}

.click_color2 img {
    padding: 16px 16px 16px 16px;
    margin-bottom: 30px;
}

.click_color3 {
    display: inline-block;
    background-color: #F03E3D;
    border-radius: 15px;
    width: 50px;
    height: 50px;
}

.click_color3 img {
    padding: 16px 17px;
    margin-bottom: 30px;
}

.click_color4 {
    display: inline-block;
    background-color: #4DADF7;
    border-radius: 15px;
    width: 50px;
    height: 50px;
}

.click_color4 img {
    padding: 16px 17px;
    margin-bottom: 30px;
}

.btn_get2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 13px 43px;
    border: solid 1px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #FF9900;
}

.button_large {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
}

.features {
    background-image: url(./jpg/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 70px;
}
